[submodule "services/fennel-cli"]
	path = services/fennel-cli
	url = https://github.com/CorruptedAesthetic/fennel-cli.git
[submodule "services/fennel-service-api"]
	path = services/fennel-service-api
	url = https://github.com/CorruptedAesthetic/fennel-service-api.git
	branch = master
[submodule "services/subservice"]
	path = services/subservice
	url = https://github.com/CorruptedAesthetic/subservice.git
[submodule "services/whiteflag-schoolpilot"]
	path = services/whiteflag-schoolpilot
	url = https://github.com/CorruptedAesthetic/whiteflag-schoolpilot.git
[submodule "fennel-solonet"]
	path = fennel-solonet
	url = https://github.com/CorruptedAesthetic/fennel-solonet.git
[submodule "services/nginx"]
	path = services/nginx
	url = https://github.com/CorruptedAesthetic/fennel-nginx.git
[submodule "app-nginx"]
	path = app-nginx
	url = https://github.com/CorruptedAesthetic/app-nginx.git
