[submodule "fennel-cli"]
	path = fennel-cli
	url = git@github.com:fennelLabs/fennel-cli.git
[submodule "fennel-service-api"]
	path = fennel-service-api
	url = git@github.com:fennelLabs/fennel-service-api.git
[submodule "subservice"]
	path = subservice
	url = git@github.com:fennelLabs/subservice.git
[submodule "whiteflag-schoolpilot"]
	path = whiteflag-schoolpilot
	url = git@github.com:fennelLabs/whiteflag-schoolpilot.git
[submodule "fennel-solonet"]
	path = fennel-solonet
	url = git@github.com:fennelLabs/fennel-solonet.git
[submodule "substrate-front-end-template"]
	path = substrate-front-end-template
	url = git@github.com:fennelLabs/substrate-front-end-template.git
[submodule "nginx"]
	path = nginx
	url = git@github.com:fennellabs/fennel-nginx.git
